.check-message {
	display: inline;
	position: relative;
	color: #8A858B;
	.question {
		width: 250px;
		position: absolute;
		right: 1rem;
		top: -3rem;
		background: #FFF;
		border: 1px solid #eee;
		z-index: 100;
		font-size: 1rem;
	}
}
.message, 
.check-message .question {
	display: none;
}