.card {
	background: #fff;
	width: 360px;
	height: 210px;
	border-radius: 15px;
	box-shadow: 2px 5px 30px 10px rgba(0,0,0,.15);
	color: #000;
	font-size: .8rem;
	input {
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid #000;
		&::placeholder {
		  color: #000;
		  font-size: 1.1rem;
		}
	}
	.spacer {
		font-size: 1.2rem;
	}
	.date {
		width: 40%;
	}
	.exampleInputDate,
	.year {
		width: 45px;
		padding: .5rem;
	}
	.icon-card {
		color: #000;
	}
	.svg {
		visibility: hidden;
		width: 50px;
		height: 32px;
		margin-left: 17rem;
	}
	.float-left {
		
	}
}